{% extends 'base.html.twig' %}

{% block title %}Detail d'un event{% endblock %}

{% block body %}

    <!-- Titre de la page avec la description de l'événement -->
    <h1 class="titre-event">{{ event.description }}</h1>

    <!-- Corps de la page avec une classe pour le style CSS -->
    {# <body class="event-detail-body"> #}

        <div class="event-detail-container">
            <div class="container-image-event-back">
                <!-- Section de l'image de l'événement -->
                <figure class="event-image-container">
                    <img src="{{ asset('img/' ~ event.picture) }}" alt="Détail de l'image de l'événement">
                </figure>
                <div class="event-card">
                    <div class="container-card-image">
                        <figure class="event-image-container-hover">
                            <img src="{{ asset('img/' ~ event.picture) }}" alt="Détail de l'image de l'événement">
                            <i class="fas fa-heart heart-icon"></i>
                        </figure>
                    </div>
                    <!-- Section de l'image de l'événement avec effet hover -->
                </div>
                <div class="event-info"> 
                    <!-- Titre de l'événement -->
                    <h2 class="event-title">{{ event.description }}</h2> 
                    <!-- Section des participants de l'événement -->
                    <div class="event-details"> 
                        <p class="event-date">Date : {{ event.dateDebut | date('d/m/Y') }}</p>
                        <p class="event-participants"> {{ event.participants|length }} / {{ event.note }} 
                        </p>
                        {% if event.participants|length > 0 %}
                        {% for participant in event.participants %}
                        <span class="card-circle-avatar">{{ participant.pseudo }}</span><br>{% if not loop.last %}    {% endif %}
                        {% endfor %}
                        {% endif %}
                    </p>
                            <div class="event-icons-events">
                                <a href="{{ path('participate_event', {'id': event.id}) }}"><i class="fa-solid fa-plus fa-2x"></i></a>
                                {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('edit_event', {'id': event.id}) }}" class="">Edit</a>
                                {% endif %}
                            </div>
                        </div>
                </div>
            </div>
        </div>
    {# </body> #}
{% endblock %}
