{% extends 'base.html.twig' %}

{% block title %}Detail d'un event{% endblock %}

{% block body %}
<h1>{{event.description}}</h1>

{% if event | length > 0 %}
    
            {# on va recuperer la collection que l'on veut dans l'entité de l'event (event.php) du coup nous faison event.(nomm de la collection) #}
            {# grace a doctrine nous n'avons pas besoin de faire une requete qui sera ensuite géré dans le controller tout est deja fais automatiquement#}
           <h3><a href=" {{ path('afficherDetail_event', {'id' :event.id}) }}">{{ event }} </a></h3> 
            
     <figure class="event-theme-detail">
         <img src="{{asset('img/' ~ event.picture)}}" alt="" width="200" height="200">
     </figure>

    
    {% else %}
        <p>Il n'a aucun event dans ce event </p>
    {% endif %}
<a href="{{path('add_event', {'event_id': event.id})}}" type="button" class="btn btn-success">Ajouter un event</a><br>

   
{% endblock %}