{% extends 'base.html.twig' %}

{% block title %}
    {% if edit %}
        Éditer un événement
    {% else %}
        Ajouter un événement
    {% endif %}
{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center mt-4">
            {% if edit %}
                Éditer un événement
            {% else %}
                Ajouter un événement
            {% endif %}
        </h1>

        {{ form_start(formAddEvent, {'attr': {'class': 'mt-4'}}) }}

        <div class="row">
            <div class="col-md-4">
                <figure>
                    {{ form_row(formAddEvent.picture, {'attr': {'class': 'form-control'}}) }}
                </figure>
            </div>

            <div class="col-md-8">

                <div class="form-group">
                    {{ form_row(formAddEvent.description, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-group">
                    {{ form_row(formAddEvent.dateDebut, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-group">
                    {{ form_row(formAddEvent.dateFin, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-group">
                    {{ form_row(formAddEvent.note, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        </div>

        <div class="text-center mt-4">
            {# <button type="submit" class="btn btn-primary">
                {% if edit %}
                    Enregistrer les modifications
                {% else %}
                    Ajouter l'événement
                {% endif %}
            </button> #}
        </div>

        {{ form_end(formAddEvent) }}
    </div>
{% endblock %}
