{% extends 'base.html.twig' %}

{% block title %}Ajouter un event{% endblock %}

{% block body %}

{% if edit %}
<h1>Editer un event</h1>
    
{% else %}
<h1>Ajouter un event</h1>

{% endif %}

{{ form_start(formAddEvent) }}
<div class="row">
        <figure>
                {{ form_row(formAddEvent.picture) }}
        </figure>
        <div>
                {{ form_row(formAddEvent.theme) }}
                {{ form_row(formAddEvent.description) }}
        </div>
        <label for="date de debut">{{ form_row(formAddEvent.dateDebut) }}</label>
        {# {{ form_row(formAddEvent.dateDebut, {'attr': {'id': 'eventDate'}}) }} #}

        <label for="date de fin">{{ form_row(formAddEvent.dateFin) }}</label>

        {{ form_row(formAddEvent.note) }}

</div>
{# <button type="submit">{{button_label|default('default value')('publier')}}</button> #}



{{ form_end(formAddEvent) }}
{# {{ form(formAddevent) }} #}

{% endblock %}