{% extends 'base.html.twig' %}

{% block title %}Hello PictureController!{% endblock %}

{% block body %}

<h1>liste des photos</h1>

{% for picture in pictures %}
        <tr>
            <td>
                {{image.picture}}
            </td>
            <td>
                {# {{...}} correspond a l'echo en symfony #}
                {# .raisonSociale va appeler le Getter de raison social que l'on retrouve dans picture.php #}
                <a href="{{ path('afficherDetail_picture', {'id': picture.id}) }}">{{ app_picture }}</a>  
            </td>
            <td>
                <a href=" {{ path('edit_picture', {'id' : picture.id}) }}" class="btn btn-warning">Edit</a>
            </td>
            <td>
                <a href=" {{ path('delete_picture', {'id' :picture.id}) }}" class="btn btn-danger">Supp</a>
            </td>
        </tr>          
            
            {% endfor %}

{% endblock %}
