{% extends 'base.html.twig' %}

{% block title %}Detail d'une categorie{% endblock %}

{% block body %}

{# {% include "_partials/_nav.html.twig" %} #}

{% if category.image is defined %}
    <section class="img-banniere-theme">
        <figure>
            <img src="{{ asset('img/' ~ category.image) }}" alt="{{ category.image }}">
            <h1 id="title-detail-category">{{ category.nameCategory }}</h1>
        </figure>
    </section>
{% else %}
    <figure>
        <img src="{{ asset('img/parc.jpg') }}" alt="Image par défaut" >
    </figure>
{% endif %}

{% if category.themes|length > 0 %}

    <section id="theme-category">
        <div class="detail-theme-category">
            {% for theme in category.themes %}
                <div class="theme-item">
                    <figure class="figure-theme-category">
                        <img src="/img/background-2867488_1280.jpg" alt="">
                    </figure>
                    <a href="{{ path('afficherDetail_theme', {'id': theme.id}) }}">{{ theme }}</a>
                </div>
            {% endfor %}
        </div>
    </section>

{% else %}
    <figure>
        <img src="{{ asset('img/parc.jpg') }}" alt="Image par défaut" width="100%" height="auto">
    </figure>
    <h1 id="title-detail-category">{{ category.nameCategory }}</h1>
    <p>Il n'y a aucun thème dans cette catégorie.</p>
{% endif %} 
        <a href="{{ path('add_theme', {'category_id': category.id}) }}" type="button" class="btn btn-success">Ajouter un theme</a><br>
{% endblock %}