{% extends 'base.html.twig' %}

{% block title %}Liste des categories{% endblock %}

{% block body %}
    <h1>{{title}} </h1>

    <section class="index_category">
        <nav class="index_category_nav">
            {% for category in categories %}
            <ul>
                <li class="category_nav">
                    {# {{...}} correspond a l'echo en symfony #}
                    {# .raisonSociale va appeler le Getter de raison social que l'on reulouve dans category.php #}
                    <a href="{{ path('afficherDetail_category', {'id': category.id}) }}">{{ category }}</a> 
                </li>
                {% if is_granted('ROLE_ADMIN') %}    
                    <td>
                        <a href=" {{ path('edit_category', {'id' : category.id}) }}" class="btn btn-warning">Edit</a>
                    </td>
                    <td>
                        <a href=" {{ path('delete_category', {'id' :category.id}) }}" class="btn btn-danger">Supp</a>
                    </td>
                    <a href="{{path('add_category')}}" class="btn btn-success">Ajouter une categorie</a>
                {% endif %}
            </ul>          
                
                {% endfor %}
            
        </nav>
    </section>



{% endblock %}
