{% extends 'base.html.twig' %}

{% block title %}Liste des avis!{% endblock %}

{% block body %}

<h1>List des avis</h1>

{% for avis in avis %}
 {{app_avis}}

    <a href="{{ path('afficherDetail_avis', {'id': avis.id}) }}">{{ app_avis }}</a>  
            
    <a href=" {{ path('edit_avis', {'id' : avis.id}) }}" class="btn btn-warning">Edit</a>
            
    <a href=" {{ path('delete_avis', {'id' :avis.id}) }}" class="btn btn-danger">Supp</a>
    
 
    {% endfor %}
{% endblock %}
