{% extends 'base.html.twig' %}

{% block title %}Détail d'un thème{% endblock %}

{% block body %}

    <section class="detail-theme">
        {% if theme.picture is defined %}
                <figure class="img-detail-theme">
                    <img src="{{ asset('img/' ~ theme.picture) }}" alt="{{ theme.picture }}">
                </figure>
                <h1 id="title-detail-theme">{{ theme.title }}</h1>
    </section>
        {% else %}
    <section class="detail-theme">
                <figure class="img-detail-theme">
                    <img src="{{ asset('img/sunset2.jpg') }}" alt="Image par défaut">
                </figure>
                <h1 id="title-detail-theme">{{ theme.title }}</h1>
        {% endif %}
    </section>


    <section id="theme-events">
        {% for event in pagination %}
            <div class="theme-event-card">
                {% if event.picture is defined %}
                    <h3>{{ event.description }}</h3>
                    <a href="{{ path('afficherDetail_event', {'id': event.id}) }}">
                        <figure class="theme-event-image-container">         
                            <img src="{{ asset('img/' ~ event.picture) }}" alt="{{ event.description }}" class="event-image">
                            <i class="fas fa-heart heart-icon"></i>
                        </figure>
                    </a>
                {% else %}
                    <figure>
                        <img src="{{ asset('img/parc.png') }}" alt="Image event par défaut" width="200" height="200">
                    </figure>
                {% endif %}
                <figcaption>
                    <div class="event-icons-and-text">
                        <div class="theme-event-icons">
                            {% if event.isParticipant(app.user) %}
                                <span>Vous participez déjà à cet événement.</span>
                            {% else %}
                                <a href="{{ path('participate_event', {'id': event.id}) }}"><i class="fa-solid fa-thumbs-up"></i></a>
                            {% endif %}
                            <a href="{{ path('withdraw_event', {'id': event.id}) }}"><i class="fa-solid fa-thumbs-down"></i></a>
                            <a href="{{ path('share_event', {'id': event.id}) }}" title="Partager l'événement"><i class="fa-solid fa-share-nodes"></i></a>
                        </div>                        
                        <p> {{ event.participants|length }} / {{ event.note }}
                            {% if event.participants|length > 0 %}
                                <br>
                                {% for participant in event.participants %}
                                    <span class="event-circle-avatar">{{ participant.pseudo }}</span>{% if not loop.last %}, {% endif %}
                                {% endfor %}
                            {% endif %}
                        </p>                        
                    </div>
                    {# <a href="{{ path('edit_event', {'id': event.id}) }}" class="event-edit-link">Edit</a> #}
                </figcaption>
            </div>
        {% endfor %}
    </section>

    
        
    <div id="pagination-container">
        {{ knp_pagination_render(pagination) }}
    </div>


    <a href="{{ path('add_event', {'themeId': theme.id}) }}" type="button" class="btn btn-success">Ajouter un événement</a><br>

{% endblock %}
