{% extends 'base.html.twig' %}

{% block title %}Détail d'un thème{% endblock %}

{% block body %}

    <section class="detail-theme">
        {% if theme.picture is defined %}
                <figure class="img-detail-theme">
                    <img src="{{ asset('img/' ~ theme.picture) }}" alt="{{ theme.picture }}">
                </figure>
                <h1 id="title-detail-theme">{{ theme.title }}</h1>
    </section>
        {% else %}
    <section class="detail-theme">
                <figure class="img-detail-theme">
                    <img src="{{ asset('img/sunset2.jpg') }}" alt="Image par défaut">
                </figure>
                <h1 id="title-detail-theme">{{ theme.title }}</h1>
        {% endif %}
    </section>


    <section id="theme-events">
        {% if pagination is empty %}
        <div class="theme-events-texte-none">
            <p>Aucun événement n'est proposé dans ce thème pour le moment.</p><br>
            <p>Propose ton premier eventement</p>
        </div>
        {% else %}
            
            {% for event in pagination %}
                {% if event.dateDebut > date('now') %}

                    <div class="theme-event-card">
                        {% if event.picture is defined %}
                            <h3>{{ event.description }}</h3>
                            <a href="{{ path('afficherDetail_event', {'id': event.id}) }}">
                                <figure class="theme-event-image-container">         
                                    <img src="{{ asset('img/' ~ event.picture) }}" alt="{{ event.description }}" class="event-image">
                                </figure>
                            </a>
                        {% else %}
                            <figure>
                                <img src="{{ asset('img/parc.png') }}" alt="Image event par défaut" width="200" height="200">
                            </figure>
                        {% endif %}
                        <figcaption>
                            <div class="event-icons-and-text">
                                <div class="theme-event-icons">
                                    {% if event.isParticipant(app.user) %}
                                        <span>Vous participez déjà à cet événement.</span>
                                        {# Afficher le lien "Ne plus participer" uniquement si l'utilisateur participe déjà #}
                                        <a href="{{ path('withdraw_event', {'id': event.id}) }}" class="event-plus">Ne plus participer</a>
                                    {% else %}
                                        <a href="{{ path('participate_event', {'id': event.id}) }}">Je participe</a>
                                    {% endif %}
                                    <a href="{{ path('share_event', {'id': event.id}) }}" title="Partager l'événement"><i class="fa-solid fa-share-nodes"></i></a>
                                </div>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a href="{{ path('edit_event', {'id': event.id}) }}" class="">Edit</a>
                            {% endif %}
                                </div>                        
                                <p> {{ event.participants|length }} / {{ event.note }}
                                    {% if event.participants|length > 0 %}
                                        <br>
                                        {% for participant in event.participants %}
                                            <a href="{{ path('app_users', {'id': participant.id}) }}" class="event-circle-avatar">{{ participant.pseudo }}</a>{% if not loop.last %}, {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </p>                        
                            </div>
                            {# <a href="{{ path('edit_event', {'id': event.id}) }}" class="event-edit-link">Edit</a> #}
                        </figcaption>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </section>

    
        
    <div id="pagination-container">
        {{ knp_pagination_render(pagination) }}
    </div>


    <a href="{{ path('add_event', {'themeId': theme.id}) }}" class="ajout-theme-event">Ajouter un événement</a><br>

{% endblock %}
