{% extends 'base.html.twig' %}

{% block title %}Détail d'un thème{% endblock %}

{% block body %}

    {% if theme.picture is defined %}
        <section class="detail-theme">
            <figure class="img-detail-theme">
                <img src="{{ asset('img/' ~ theme.picture) }}" alt="{{ theme.picture }}">
            </figure>
            <h1 id="title-detail-theme">{{ theme.title }}</h1>
        </section>
    {% else %}
        <section class="detail-theme">
            <figure class="img-detail-theme">
                <img src="{{ asset('img/parc.jpg') }}" alt="Image par défaut">
            </figure>
            <h1 id="title-detail-theme">{{ theme.title }}</h1>
        </section>
    {% endif %}

    <section id="card-home-page">
        {% for event in pagination %}
            <div id="card-home-page-event">
                {% if event.picture is defined %}
                    <figure>         
                        <img src="{{ asset('img/' ~ event.picture) }}" alt="{{ event.description }}" width="200" height="200">
                    </figure>
                {% else %}
                    <figure>
                        <img src="{{ asset('img/default.png') }}" alt="Image event par défaut" width="200" height="200">
                    </figure>
                {% endif %}
                <figcaption>
                    <h3>{{ event.description }}</h3>
                    <!-- Autres informations de l'événement à afficher -->
                    <div class="icons-events">
                        <a href="{{ path('participate_event', {'id': event.id}) }}"><i class="fa-solid fa-plus fa-2x"></i></a>
                    </div>
                    <p>nombre de participants : {{ event.participants|length }}</p>
                    <a href="{{ path('edit_event', {'id': event.id}) }}" class="">Edit</a>
                </figcaption>
            </div>
        {% endfor %}
        
        {{ knp_pagination_render(pagination) }}

    </section>

    <a href="{{ path('add_event', {'themeId': theme.id}) }}" type="button" class="btn btn-success">Ajouter un événement</a><br>

{% endblock %}
