{% extends 'profil.html.twig' %}

{% block title %}Page profil{% endblock %}

{% block body %}

<div class="profil-container">

    <div class="profile-section">

        {# <h2 class="profile-title">{{ app.user.pseudo }}</h2> #}
        <h2>Mon Profil</h2>
        
        <div class="profil-participation-section">
            <h3>Événements auxquels je participe ({{ app.user.participant|length }}) :</h3>
            {% if app.user.participant is not empty %}
            <ul class="profil-event-list-participed">
                {% for event in app.user.participant %}
                <div>
                        <li class="profil-event-details-participed">
                        {% if event.picture is not null %}
                        <figure>
                            <img src="{{ asset('img/' ~ event.picture) }}" alt="Event Image">
                        </figure>
                        {% endif %}                           
                         {{ event.description }} <br> {{ event.dateDebut|date('d-m-Y') }}
                        </li>
                        <a href="{{ path('withdraw_event', {'id': event.id}) }}" class="event-plus">Ne plus participer</a>
                        <a href="{{ path('share_event', {'id': event.id}) }}" title="Partager l'événement"><i class="fa-solid fa-share-nodes"></i></a>
                    </div>
                    {% endfor %}
                </ul>
            {% else %}
                <p class="profil-no-events">Aucun événement auquel je participe pour le moment.</p>
            {% endif %}
        </div>

        <div class="profil-proposed-events-section">
            <h3>Mes événements proposés ({{ app.user.event|length }}) :</h3>
        
            <div class="profil-event-proposed">
                {% if app.user.event is not empty %}
                    <div class="profil-event-list">
                        {% for event in app.user.event %}
                            {% if event.dateFin >= "now" %}
                                <div class="events-proposé">
                                    <p class="profil-event-details">
                                        {% if event.picture is not null %}
                                        <a href="{{ path('afficherDetail_event', {'id': event.id}) }}">
                                            <figure>
                                                <img src="{{ asset('img/' ~ event.picture) }}" alt="Event Image">
                                            </figure>
                                        </a>
                                        {% endif %}
                                    </p>
                                    <p>{{ event.description }}</p>
                                    <p>{{ event.dateDebut|date('Y-m-d') }}</p>
                                    {% if event.isParticipant(app.user) %}
                                        <span>Vous participez déjà à cet événement.</span>
                                    {% else %}
                                        <a href="{{ path('participate_event', {'id': event.id}) }}">Je participe</a>
                                        <a href="{{ path('withdraw_event', {'id': event.id}) }}" class="event-plus">Ne plus participer</a>
                                        <a href="{{ path('share_event', {'id': event.id}) }}" title="Partager l'événement"><i class="fa-solid fa-share-nodes"></i></a>
                                    {% endif %}
                                </div>
                            {% else %}
                                <div class="events-proposé">
                                    <p>{{ event.description }}</p>
                                    <p>L'événement est passé.</p>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% else %}
                    <p class="profil-no-events">Pas d'événement proposé pour le moment.</p>
                {% endif %}
            </div>
        </div>
        

        <div class="profil-favorites-section">
            <h3>Mes favoris :</h3>
            {# {% if app.user.favoriteEvents is not empty %}
                <ul class="event-list">
                    {% for favoriteEvent in app.user.favoriteEvents %}
                        <li class="event-details">
                            <img src="{{ asset(favoriteEvent.picture) }}" alt="Event Image">
                            {{ favoriteEvent.description }} - {{ favoriteEvent.dateDebut|date('Y-m-d') }}
                            Ajoutez ici tout code supplémentaire pour gérer les événements favoris
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p class="no-events">Pas d'événement favori pour le moment.</p>
            {% endif %} #}
        </div>

    </div>

</div>

{% endblock %}
